CLIENT_GATEWAY_PORT=3000

PAYMENT_MS_PORT=3003
NATS_SERVERS=nats://nats-server:4222
STRIPE_SECRET_KEY=
STRIPE_SUCCESS_URL=http://localhost:3003/api/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/api/payments/cancel
STRIPE_WEBHOOK_SECRET=