[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-MS-PadillaSoftware/Products-Gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-MS-PadillaSoftware/Products-MS.git
[submodule "order-ms"]
	path = order-ms
	url = https://github.com/Nest-MS-PadillaSoftware/Orders-MS.git
[submodule "payment-ms"]
	path = payment-ms
	url = https://github.com/Nest-MS-PadillaSoftware/payment-ms.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Nest-MS-PadillaSoftware/auth-ms.git
